name: CI - Retrain Model with MLflow Project

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: prediksi_suhu_env
          environment-file: MLProject/conda.yaml
          python-version: 3.9
          auto-activate-base: false

      - name: Install MLflow (inside conda env)
        shell: bash -l {0}
        run: |
          conda activate prediksi_suhu_env
          pip install mlflow

      - name: Run MLflow Project
        shell: bash -l {0}
        run: |
          conda activate prediksi_suhu_env
          mlflow run MLProject --env-manager=local
