name: CI - Retrain Model with MLflow Project

on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: prediksi_suhu_env
          environment-file: MLProject/conda.yaml
          python-version: 3.10

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        run: mlflow run MLProject --env-manager=local
